:where(html[data-spektral-cascade-proof]) {
	--base-hue: 210;
	--radius-base: 0.5rem;
}

:where(html[data-spektral-cascade-proof]) body {
	color: rgb(255 0 255);
	font-family: serif;
	font-size: 2rem;
	line-height: 3;
	text-align: center;
}

:where(html[data-spektral-cascade-proof]) :is(h2, h3, p, figure, pre) {
	margin: 2rem;
	color: rgb(255 0 255);
	font: 2rem / 3 serif;
}

:where(html[data-spektral-cascade-proof]) :is(figure, pre) {
	background: rgb(0 255 0);
}
